.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding: 40px;
  }
  
  .home-title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .home-text {
    font-size: 24px;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 40px;
  }